<main class="poster-container">

  <img
    class="post-header"
    src="{{header_image}}"
    alt="picture for the article {{post.title}}"
  />
  <div class="post-meta">
    <h1>{{title}}</h1>
    <h3>{{teaser}}</h3>
    <h3>by {{author}} at {{dateCreated}} </h3>
  </div>
  <div class="line-breaker"> </div>
  <p class="post-content-body">
    {{{content}}}
  </p>
</main>