
<div class="profile-card"> 
        <a href="/directory/{{person.id}}">
            <div class="personal-details">
                <img src={{person.photo_url}} class= "profile-image" alt="{{person.firstName}} {{person.lastName}}">
                <div class="info">
                    <h2>{{person.firstName}} {{person.lastName}}</h2>
                    <p><strong>Email:</strong> {{person.email}}</p>
                    <p><strong>Location:</strong> {{person.location}}</p>
                    <p><strong>Bio:</strong> {{person.bio}}</p>
                </div>
            </div>
        </a>
</div>